@import 'variables';

.form {
  &--container {
    font-family: @bungee-hairline;
  }
  &--required {
    color: @action-color;
    margin-left: 10px;
  }
  & form {
    color: @white;
    margin: 10px 5px;
    & label {
      font-family: @bungee-hairline;
      display: block;
    }
    & input {
      background: @bg-white-opac;
      border-style: none;
      border: none;
      border-radius: 5px;
      &::placeholder {
        color: @white;
        opacity: 0.5;
      }
    }
    & input[type=text] {
      cursor: text;
    }
    & input[type=file] {
      background: none;
      color: @white;
      display: inline;
    }
    & input[type=color] {
      padding: 0;
      margin: 0;
      margin-right: 10px;
    }
    & input[type=submit] {
      background: @submit-color;
      color: @white;
      border-radius: 5px;
      display: block;
      margin-left: 0;
    }
    & input:disabled {
      color: @bg-white-opac;
    }
    & select, input {
      font-family: @console;
      margin: 5px 10px;
      padding: 5px 10px;
      cursor: pointer;
    }
    & select {
      color: @onyx;
    }
  }

  &__misc {
    & form {
      & label { display: inline-block; }
      & input[type=submit] { display: inline-block; }
    }
  }

  &__auth {
    text-align: center;
    margin-top: 50px;
    background: @onyx;
    border-radius: 25px;
    padding: 20px;
    color: @white;
    & form {
      & label { display: inline-block; }
      & input {
        display: inline-block;
        background: @light-grey;
      }
      & input + span, ul li {
        font-weight: 200;
        display: block;
        color: @baby-blue;
        opacity: 0.5;
        font-size: @super-small;
      }
      & button[type=submit] {
        width: 60%;
        margin: 40px 0 20px 0;
      }
    }
    &--alt-btn {
      text-align: center;
      width: 100%;
      font-size: @large;
      font-family: @bungee-hairline;
    }
    &--logo {
      font-family: @bungee-shade;
    }
    &--header {
      font-family: @bungee-hairline;
    }

    &__signup {
      text-align: left;
      & form {
        & input + span {
          display: inline-block;
          max-width: 30%;
        }
        & button[type=submit] {
          width: 100%;
          height: 80px;
          font-size: @large;
          font-family: @bungee-hairline;
        }
      }
    }

  }

  &__track {
    background: none;
    border: none;
    box-shadow: none;
    border-color: @bg-white-opac;
  }
}
