@import 'variables';

.header {
  padding: 10px 10px;
  color: @white;
  height: auto;
  &--bg {
    background: @mako;
  }
  &--heading {
    font-family: @bungee-outline;
    font-size: @xs-large;
    & a {
      color: @white;
    }

  }
  &--info {
    text-align: right;
    font-family: @bungee-hairline;
    & span {
      line-height: 100%;
      vertical-align: middle;
      margin: 0 5px;
    }
  }

}
