@import 'variables';

body {
  font-family: @roboto-mono;
  background: @sunset-orange;
}


.track-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding: 10px 10px;
  color: @white;
  height: 80px;
  &--bg {
    background: @mako;
  }
  &--heading {
    font-family: @bungee-outline;
    font-size: @xs-large;
    & a {
      color: @white;
    }

  }
  &--info {
    text-align: right;
    font-family: @bungee-hairline;
    & span {
      line-height: 100%;
      vertical-align: middle;
      margin: 0 5px;
    }
  }

}

.button {
  &__submit-track {
    margin: 0 10px;
    font-size: @submit;
    line-height: 100%;
  }
}
