@import 'variables';

h1, h2, h3, h4, h5, h5 { margin: 0; }

a {
  color: @flash-white;
  text-decoration: none;
  &:hover {
    color: @baby-blue;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.inline-block { display: inline-block; }
.float-r { float: right; }

.container {
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.color-accent {
  &--sunset-orange { color: @sunset-orange; }
  &--turquoise { color: @turquoise; }
  &--onyx { color: @onyx; }
  &--mikado { color: @mikado; }
  &--black { color: @black; }
  &--white { color: @white; }
  &--mako { color: @mako; }
  &--baby-blue { color: @baby-blue; }
}



/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,

input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  color: @mako;
  border: 1px solid @silver;
  -webkit-text-fill-color: @silver;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
