@import 'variables';

h1, h2, h3, h4, h5, h5 { margin: 0; }

a {
  color: @flash-white;
  text-decoration: none;
  &:hover {
    color: @baby-blue;
    text-decoration: none;
  }
}


.container {
  width: 100%;
}
