@import 'variables';

.project {
  &__detail {
    height: auto;
    min-height: 100vh;
    background: @mako;
    color: @white;

    &--collapsed {
      
    }

    & hr {
      border-color: @bg-white-opac;
    }

    &--toggle {
      text-align: right;
      & > span {
        font-size: @large;
      }
    }

    &--header {
      margin-top: 20px;
      font-family: @bungee-hairline;
    }
    &--collaborators {
      & h4 {
        font-family: @old-code;
        margin-top: 20px;
      }
      & ul {
        padding: 10px;
        & li {

        }
      }
    }
  }
}
