@import 'variables';

// ---------------------
// react-table overrides
// ---------------------

.ReactTable {
  border: none !important;
}

.-filters input {
  background: @charleston !important;
  color: @white !important;
}

.rt {
  // &-thead {
  //   border-right: 1px solid rgba(0,0,0,0.5) !important; // doesn't work
  // }
  &-table {
    // table-layout: fixed;
    background-color: @tbl-bg;
    font-family: @tbl-font;
    color: @tbl-font-color;
    font-size: @tbl-font-size;
  }
  // ROWS
  &-tr {
    height: 40px;
    // text-align: center;
    font-size: @xs-small;
    font-family: @console;
    font-weight: @font-weight-lite;
  }

  &-th {
  }

  &-td {
    & i {
      line-height: 40px;
      vertical-align: middle;
    }
    & span:not(.badge) {
      line-height: 40px;
      vertical-align: middle;
    }
  }

  &-tbody {
    & > .rt-tr-group {
      &:hover {
        background: @tbl-row-hover !important;
      }
    }
  }
}
