@import 'variables';

@track-radius: 10px;

.track {
  width: 100%;
  border: 1px solid @white;
  display: inline-block;
  margin-top: 10px;
  border-radius: @track-radius;
  background: @mako;
  color: @white;
  box-shadow: @box-shadow;
  &--badges {
    display: inline-block;
  }

  &__file-list {
    & ul {
      padding: 0;
      list-style: none;
      & li {
        box-sizing: border-box;
        font-family: @console;
        font-size: @xs-small;
        font-weight: 300;
        &:hover {
          cursor: pointer;
          background: @bg-opac-light;
          color: @mikado;
        }
      }
    }
    &--active { color: @mikado; }
    &--date-time { font-size: @super-small; opacity: 0.3; }
    &--action { margin: 3px; float: right; }
  }

  &__info {
    display: inline-block;
    overflow-x: hidden;
    font-size: @xs-small;
    line-height: @row-line-height;
    & > span {
      margin: 0 5px;
      display: inline-block;
      font-size: @xs-small;
    }
    &--date {
      color: @gold;
      font-size: @xs-small;
      font-family: @console;
      font-weight: @font-weight-lite;
    }
    &--title {
      font-family: @bungee-hairline;
      font-size: @xs-small;
      color: @mikado;
    }
    &--active-file {
      display: inline-block;
      font-family: @roboto-mono;
      font-size: @xs-small;
    }
  }

  &__details {
    background: @bg-white-opac;
    padding: 10px;
    box-shadow: @box-shadow-inner;
  }
}
