@import 'variables';

.track-list {
  padding: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: @scrollbar-width;
    background: @scrollbar-bg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-bg;
    border-radius: @scrollbar-thumb-radius;
  }

  &--status {
    font-family: @bungee-hairline;
    font-size: @large;
    color: @white;
    border-bottom: 1px solid @mako;
    margin-bottom: 20px;
  }

  &__spinner {
    color: @blue-jeans;
  }
}
