@import 'variables';

.track {
  width: 100%;
  border: 1px solid @white;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: @mako;
  color: @white;
  &--title {
    display: inline-block;
    color: @mikado;
  }
  &--user {}
  &__player {
    margin-bottom: 10px;
  }
  &--button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 5px;
    border-radius: 25%;
    padding: 10px;
    color: @white;
    background: @baby-blue;
    &:hover {
      color: @onyx;
      cursor: pointer;
    }
  }
}
