
@sunset-orange: #FE5F55;
@turquoise: #49DEFf;
@onyx: #383737;
@mikado: #F9C80E;
@black: #1E1A17;
@white: #FFFFFF;
@mako: #3D464D;

@charleston: #282C34;
@gunmetal: #21252B;
@mako: #3D464D;
@light-red: #FF1053;
@coral: #FC7753;
@blue-jeans: #5DA7E7;
@rain-forest: #00635D;
@silver: #A8ADBB;
@blue-green: #08A4BD;
@gold: #CCA43B;
@dark-blue: #474b96;
@baby-blue: #87CDFF;
@green: #99c1a5;
@sea-foam: #76c38d;
@light-grey: #ddd;
@flash-white: #EBF5EE;

/* -------------------------------------------------------
    GLOBAL COLORS
----------------------------------------------------------  */
@action-color: @mikado;
@submit-color: @dark-blue;
@error-color: @light-red;

/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
@cutive-mono: 'Cutive Mono', monospace;
@source-sans-pro: 'Source Sans Pro', sans-serif;
@roboto-mono: 'Roboto Mono', monospace;
@old-code: 'VT323', monospace;
@console: 'Inconsolata', monospace;
@bungee-outline: 'Bungee Outline', cursive;
@bungee-hairline: 'Bungee Hairline', cursive;
@bungee-shade: 'Bungee Shade', cursive;

// ------- font sizes ---------
@super-small: 9pt;
@xs-small:    11pt;
@small:       13pt;
@medium:      16pt;
@large:       20pt;
@xs-large:    27pt;

@submit:      24pt;

// ------- font weights ---------
@font-weight-lite: 300;

/* -------------------------------------------------------
    BADGES
----------------------------------------------------------  */
@badge-font-family: @roboto-mono;
@badge-font-size: @super-small;
@badge-font-weight: 300;
@badge-padding: 4px 5px;
@badge-margin: 3px;

/* -------------------------------------------------------
    BUTTONS
----------------------------------------------------------  */
@btn-font: @bungee-hairline;


/* -------------------------------------------------------
    SPINNERS
----------------------------------------------------------  */
@spinner-size-xl: 200px;
@spinner-size-reg: 40px;
@spinner-size-sm: 10px;


/* -------------------------------------------------------
    SCROLLBARS
----------------------------------------------------------  */
@scrollbar-bg: rgba(0, 0, 0, 0);
@scrollbar-width: 5px;
@scrollbar-thumb-bg: rgba(0, 0, 0, 0.3);
@scrollbar-thumb-radius: 10px;

/* -------------------------------------------------------
    HEADER
----------------------------------------------------------  */
@header-bg: @gunmetal;


/* -------------------------------------------------------
    MEDIA PLAYER
----------------------------------------------------------  */
@mdplr-bg: @gunmetal;

/* -------------------------------------------------------
    TRACK TABLE
----------------------------------------------------------  */
@row-line-height:     60px;
@tbl-bg: @mako;
@tbl-font: @roboto-mono;
@tbl-font-color: @white;
@tbl-font-size: @small;
@tbl-row-hover: rgba(255,255,255,0.1);
@tbl-head-bg: @mako;
@tbl-row-fnt-weight: @font-weight-lite;


/* -------------------------------------------------------
    MISC
----------------------------------------------------------  */
@bg-opac-light: rgba(0, 0, 0, 0.1);
@bg-opac-medium: rgba(0, 0, 0, 0.3);
@box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
@box-shadow-inner: inset 0px 0px 50px -12px rgba(0,0,0,0.5);
@bg-white-opac: rgba(255, 255, 255, 0.2);
@bg-white-opac-light: rgba(255, 255, 255, 0.7);
@bg-white-opac-med: rgba(255, 255, 255, 0.5);
@bg-white-opac-dark: rgba(255, 255, 255, 0.3);

@z-index-top: 20;
@z-index-middle: 10;
@z-index-ground: 5;
@z-index-below: 1;
