{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
  <div class="form col-xs-12 col-sm-4 col-centered">
    <div class="form__auth">

      <h1 class="form__auth--logo">TRAKT</h1>
      <hr>

      <h2 class="form__auth--header">Sign Up</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">sign up</button>
      </form>
      <a href={% url 'login' %}>Login</a>
    </div>
  </div>
  </div>
{% endblock %}
