{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="auth--modal">
    <div class="auth--login">
      <h2>Submit New Track</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                submit
            </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}
