{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'scripts/upload.bundle.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="form col-xs-12 col-sm-4 col-centered">
      {% if exclude %}
        <h2>Edit Track</h2>
      {% else %}
        <h2>Submit New Track</h2>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form exclude=exclude %}
        {% buttons %}
            <button type="submit" name="submit" value="submit" class="btn btn-primary">
                Submit
            </button>
            {% if exclude %}
            <button type="submit" name="delete" value="delete" class="form__btn--delete btn btn-primary">
                Delete
            </button>
            {% endif %}
        {% endbuttons %}
      </form>

      <hr>

      <div class="form__other">
        <a class="" href="{% url 'new_genre' %}"><span class="fa fa-plus"></span>New Genre</a>
        <a href="{% url 'new_key' %}"><span class="fa fa-plus"></span>New Key</a>
        <h6>If you have already filled out the above form, open these links in a new tab, submit, then come back to this page and hit refresh.  Your form data should still be populated, and the new form or key will be available.</h6>
      </div>
  </div>
{% endblock %}
